# Database Preprocessing and Cleaning
<hr>
Now that we got the data somewhere that it is easily accessible, now we just need to clean it and get it to a nice workable state. Once we accomplish that, then we'll be able to lock it down and make sure it can't be overwritten.

In [3]:
import pandas as pd
from sqlalchemy import create_engine
from pandas.io import sql

# Database creds
hostname=''
dbname=''
uname=''
pwd=''
engine = create_engine("".format(host=hostname, db=dbname, user=uname, pw=pwd))


# get database as df
maindf = pd.read_sql('SELECT * FROM crimeTableRaw', con=engine)

In [70]:
df = df.reset_index()
del df['index']

In [71]:
df.isna().sum()

level_0                            0
arrest_key                         0
arrest_date                        0
pd_cd                            270
pd_desc                         8950
ky_cd                           8961
ofns_desc                       8943
law_code                         207
law_cat_cd                     17391
arrest_boro                        9
arrest_precinct                    0
jurisdiction_code                  9
age_group                         16
perp_sex                           0
perp_race                          0
x_coord_cd                         1
y_coord_cd                         2
latitude                          22
longitude                          6
:@computed_region_efsh_h5xi    23792
:@computed_region_f5dn_yrer     7769
:@computed_region_yeji_bk3q     7821
:@computed_region_92fq_4b7q     7816
:@computed_region_sbqj_enih     7965
dtype: int64

With the amount of nulls we have, we should establish which values we absolutely need based on the needs of our project. Since we would like to map crime and look at crime historically, "latitude", "longitude", and "arrest_date" are non negotiable. Thankfully, at most, we should only lose 28 rows at most.

In [72]:
df = df[df['latitude'].notna()]

In [73]:
df = df[df['longitude'].notna()]

while age range isn't something we initially considered, since there are only 16 null values out of over 5 million, it could be valuable to drop those rows so we have that as a cleanly populated atttibute.

In [74]:
df = df[df['age_group'].notna()]

While looking at a sample of the data, I noticed that there was a value of '944' which doesn't seem like a age group. So, we decided that it'd be best to get a list of all the unique age groups.

In [ ]:
# all the age groups
unqiue_values=pd.unique(df['age_group'])
len(unqiue_values)

That's not bad. Only 136 values that aren't the right age group. We'll just drop them.

In [ ]:
#converting the result into lists
list(unqiue_values)

#the age groups we want to keep
imp = ['45-64', '25-44', '18-24', '<18', '65+']

#this will create a list of age groups we don't want to keep
useless = [x for x in unqiue_values if x not in imp]

#removes those age groups
df=df.loc[~df.age_group.isin(useless)]

The next thing that stands out is x and y coordinates. I am curious if these may be redundant because we already have lat and long. 

After looking into it, it seems the "x_coord_cd" and "y_coord_cd" are attributes of the State Plane Coordinate System, which is an almost completely outdated way to lookup locations(<a href="https://www.usgs.gov/faqs/what-state-plane-coordinate-system-can-gps-provide-coordinates-these-values?qt-news_science_products=0#qt-news_science_products">see here</a>). Since that is the case we can remove those two rows completely.

In [75]:
del df['x_coord_cd']
del df['y_coord_cd']

Now Looking at all those "@" columns that have a bunch of null values.
 - computed_region_efsh_h5xi = Zip Code
     - computed_region_f5dn_yrer = Community District
     - computed_region_yeji_bk3q = Borough Boundaries
     - computed_region_92fq_4b7q = City Council Districts
     - computed_region_sbqj_enih = Police Precincts
 
What should we do with all these values? Since they provide actionable information (especially the zip code), we should probably keep them. 

In fact, we may actually be able to recover some information using geocoding libraries. We can see if we can grab some zip codes. The rest, we'll leave null, but keep on hand for specialized use if we decide they're useful for something since their nulls won't impede our main interests.

***update:*** upon investigation, these don't appear to be zip codes where the crime occurs. This means using the lat and long to provide the remaining zip codes wouldn't be right. Moreso, there are a lot of values like "1" and "26001", that aren't valid zip codes. This leads me to believe that this column is no use to us, so we'll get rid of it.

In [76]:
del df[':@computed_region_efsh_h5xi']

In [77]:
df

,level_0,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,...,jurisdiction_code,age_group,perp_sex,perp_race,latitude,longitude,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih
1,1,192799737,2019-01-26T00:00:00.000,177,SEXUAL ABUSE,116,SEX CRIMES,PL 1306503,F,M,...,0,45-64,M,BLACK,40.800694,-73.94110928599997,7.0,4,36.0,16
2,2,193260691,2019-02-06T00:00:00.000,None,None,None,None,PL 2203400,F,M,...,0,25-44,M,UNKNOWN,40.757839,-73.99121211099998,12.0,4,10.0,8
3,3,149117452,2016-01-06T00:00:00.000,153,RAPE 3,104,RAPE,PL 1302503,F,K,...,0,25-44,M,BLACK,40.648650,-73.95033556299995,61.0,2,11.0,40
4,4,190049060,2018-11-15T00:00:00.000,157,RAPE 1,104,RAPE,PL 1303501,F,K,...,0,25-44,M,BLACK,40.674583,-73.93022154099998,16.0,2,49.0,49
5,5,24288194,2006-09-13T00:00:00.000,203,"TRESPASS 3, CRIMINAL",352,CRIMINAL TRESPASS,PL 140100E,M,K,...,2,45-64,M,BLACK,40.671254,-73.926713851,16.0,2,49.0,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011995,5011995,24068627,2006-08-28T00:00:00.000,849,"NY STATE LAWS,UNCLASSIFIED VIOLATION",677,OTHER STATE LAWS,LOC000000V,V,Q,...,0,25-44,M,WHITE,40.747590,-73.88439699899999,65.0,3,21.0,73
5011996,5011996,24566897,2006-09-30T00:00:00.000,705,"FORGERY,ETC.-MISD.",358,OFFENSES INVOLVING FRAUD,PL 1657100,M,Q,...,0,25-44,M,BLACK HISPANIC,40.748281,-73.87788142999993,65.0,3,21.0,73
5011997,5011997,24578122,2006-10-01T00:00:00.000,904,"INTOXICATED DRIVING,ALCOHOL",119,INTOXICATED/IMPAIRED DRIVING,VTL11920F2,F,Q,...,0,25-44,M,WHITE HISPANIC,40.752037,-73.86907874399995,65.0,3,21.0,73
5011998,5011998,24172707,2006-09-06T00:00:00.000,503,"CONTROLLED SUBSTANCE,INTENT TO SELL 3",117,DANGEROUS DRUGS,PL 2201601,F,K,...,0,45-64,M,BLACK,40.650052,-73.964169327,60.0,2,11.0,43
5011999,5011999,24361602,2006-09-18T00:00:00.000,109,"ASSAULT 2,1,UNCLASSIFIED",106,FELONY ASSAULT,PL 1200501,F,B,...,0,18-24,M,WHITE,40.883120,-73.90332096899994,48.0,5,40.0,33

Another two attributes that don't have a lot of null values which make it worth dropping the NA values are ARREST_BORO and JURISDICTION_CODE. We could figure out the arrest boro based on the lat and long of the arrest, but with there only being 9/5 million null rows, it's easier to just delete them and move on.

In [78]:
df = df[df['arrest_boro'].notna()]
df = df[df['jurisdiction_code'].notna()]

In [79]:
# pd_cd and ky_cd can be deleted because they're internal use codes

del df['pd_cd']
del df['ky_cd']

In [80]:
# blanks law codes means we have no idea what was committed
# ofns_desc is also blank, so these 200 values don't do much for us

df[df['law_code'].isna()]

,level_0,arrest_key,arrest_date,pd_desc,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,latitude,longitude,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih
28,28,188086111,2018-09-27T00:00:00.000,None,None,None,None,B,50,0,25-44,M,WHITE HISPANIC,40.910270,-73.89711662799994,48.0,5,40.0,33
61,61,188086113,2018-09-27T00:00:00.000,None,None,None,None,B,50,0,25-44,M,WHITE HISPANIC,40.910270,-73.89711662799994,48.0,5,40.0,33
73,73,188785833,2018-10-15T00:00:00.000,None,None,None,None,K,67,0,25-44,M,BLACK,40.651465,-73.95423641599997,61.0,2,11.0,40
99,99,188304699,2018-10-03T00:00:00.000,None,None,None,None,B,47,0,25-44,M,WHITE HISPANIC,40.872162,-73.86614123499999,29.0,5,22.0,30
307,307,190932018,2018-12-09T00:00:00.000,None,None,None,None,Q,115,0,18-24,M,WHITE HISPANIC,40.751099,-73.86064222299996,65.0,3,21.0,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5002571,5002571,24036545,2006-08-27T00:00:00.000,None,None,None,None,K,75,0,<18,M,WHITE HISPANIC,40.675194,-73.87342954799993,45.0,2,25.0,47
5004838,5004838,24028439,2006-08-25T00:00:00.000,None,None,None,None,M,14,3,25-44,M,BLACK,40.753939,-73.99484365499995,12.0,4,10.0,8
5005185,5005185,24028439,2006-08-25T00:00:00.000,None,None,None,None,M,14,3,25-44,M,BLACK,40.753939,-73.99484365499995,12.0,4,10.0,8
5005370,5005370,24289053,2006-09-13T00:00:00.000,None,None,None,None,Q,113,0,18-24,M,BLACK,40.673395,-73.775671989,41.0,3,46.0,71
5006002,5006002,24028439,2006-08-25T00:00:00.000,None,None,None,None,M,14,3,25-44,M,BLACK,40.753939,-73.99484365499995,12.0,4,10.0,8

In [81]:
df = df[df['law_code'].notna()]

Now lets see if we can get more law info from other columns by using law_code to see if we can recover the descriptions

In [82]:
result = pd.concat([df[df['ofns_desc'].isna()]["law_code"], df[df['ofns_desc'].isna()]["arrest_key"]], axis=1)
result

           law_code  arrest_key
2        PL 2203400   193260691
12       PL 1651601   189176315
20       PL 1651601   189974181
34       PL 1651601   186712976
54       PL 2203400   191943063
...             ...         ...
4803094  FCA000000M    27155306
4866389  MLR00000AM    26139862
4874249  FCA000000M    26334227
4875072  FCA000000M    26334227
4961699  FCA000000M    24660753

[8736 rows x 2 columns]

In [83]:
laws = []
for i in result["law_code"]:
    if i not in laws:
        laws.append(i)

In [84]:
# check if law codes and full df have a diff
# amount of missing data

df[df['law_code'].isin(laws)].isna().sum()["ofns_desc"]

8736

In [85]:
df.isna().sum()["ofns_desc"]

8736

thats not promising... theres almost no difference. So maybe we can take another approach if the count of unique missing laws aren't too large.

By collecting NY penal code, I think we'll be able to recover a fair amount of decriptions

In [86]:
print(len(laws))

65

In [87]:
# 65 isnt too bad, especially when it'll recover us a lot of records
# so i collevted them on a website (only PL ones)

lawCodes = pd.read_csv("missingLaws.csv",encoding = "ISO-8859-1")

In [88]:
# apply the found law code descriptions to the dataframe

for index, row in lawCodes.iterrows():
    df.loc[(df.law_code == row["law_code"]),'ofns_desc']=row["general crime"]
    df.loc[(df.law_code == row["law_code"]),'pd_desc']=row["specific crime"]

In [89]:
df.isna().sum()["ofns_desc"]

127

We recovered over 8500, so I'll call that a win. I think we can drop the remainders since the external law code itself won't provide a lot of insight

In [90]:
df = df[df['pd_desc'].notna()]
df = df[df['ofns_desc'].notna()]

In [91]:
df

,level_0,arrest_key,arrest_date,pd_desc,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,perp_race,latitude,longitude,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih
1,1,192799737,2019-01-26T00:00:00.000,SEXUAL ABUSE,SEX CRIMES,PL 1306503,F,M,25,0,45-64,M,BLACK,40.800694,-73.94110928599997,7.0,4,36.0,16
2,2,193260691,2019-02-06T00:00:00.000,CRIMINAL SALE OF A CONTROLLED SUBSTANCE,CONTROLLED SUBSTANCES OFFENSES,PL 2203400,F,M,14,0,25-44,M,UNKNOWN,40.757839,-73.99121211099998,12.0,4,10.0,8
3,3,149117452,2016-01-06T00:00:00.000,RAPE 3,RAPE,PL 1302503,F,K,67,0,25-44,M,BLACK,40.648650,-73.95033556299995,61.0,2,11.0,40
4,4,190049060,2018-11-15T00:00:00.000,RAPE 1,RAPE,PL 1303501,F,K,77,0,25-44,M,BLACK,40.674583,-73.93022154099998,16.0,2,49.0,49
5,5,24288194,2006-09-13T00:00:00.000,"TRESPASS 3, CRIMINAL",CRIMINAL TRESPASS,PL 140100E,M,K,77,2,45-64,M,BLACK,40.671254,-73.926713851,16.0,2,49.0,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011995,5011995,24068627,2006-08-28T00:00:00.000,"NY STATE LAWS,UNCLASSIFIED VIOLATION",OTHER STATE LAWS,LOC000000V,V,Q,115,0,25-44,M,WHITE,40.747590,-73.88439699899999,65.0,3,21.0,73
5011996,5011996,24566897,2006-09-30T00:00:00.000,"FORGERY,ETC.-MISD.",OFFENSES INVOLVING FRAUD,PL 1657100,M,Q,115,0,25-44,M,BLACK HISPANIC,40.748281,-73.87788142999993,65.0,3,21.0,73
5011997,5011997,24578122,2006-10-01T00:00:00.000,"INTOXICATED DRIVING,ALCOHOL",INTOXICATED/IMPAIRED DRIVING,VTL11920F2,F,Q,115,0,25-44,M,WHITE HISPANIC,40.752037,-73.86907874399995,65.0,3,21.0,73
5011998,5011998,24172707,2006-09-06T00:00:00.000,"CONTROLLED SUBSTANCE,INTENT TO SELL 3",DANGEROUS DRUGS,PL 2201601,F,K,70,0,45-64,M,BLACK,40.650052,-73.964169327,60.0,2,11.0,43
5011999,5011999,24361602,2006-09-18T00:00:00.000,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,PL 1200501,F,B,50,0,18-24,M,WHITE,40.883120,-73.90332096899994,48.0,5,40.0,33

In [98]:
# now lets clean up the date

arrDates = df['arrest_date'].str.slice_replace(10, 23, '')

In [99]:
final = df
del final["arrest_date"]
final = pd.concat([final, arrDates], axis=1)

So law_cat_cd still has a fair amount of null values, but I think we can keep that frame as is, and if we want to evaluate the severity of crimes or measure density of "harsher" crimes we can do so later by dropping those nulls. The data is now in a very usable state, and I think its ready to be saved... After we delete "level_0" and reorder cols.

In [101]:
del final["level_0"]

In [104]:
cols = final.columns.tolist()
cols

['arrest_key',
 'pd_desc',
 'ofns_desc',
 'law_code',
 'law_cat_cd',
 'arrest_boro',
 'arrest_precinct',
 'jurisdiction_code',
 'age_group',
 'perp_sex',
 'perp_race',
 'latitude',
 'longitude',
 ':@computed_region_f5dn_yrer',
 ':@computed_region_yeji_bk3q',
 ':@computed_region_92fq_4b7q',
 ':@computed_region_sbqj_enih',
 'arrest_date']

In [105]:
# this looks like a cleaner order
cols = ['arrest_key',
        'arrest_date',
        'pd_desc',
        'ofns_desc',
        'law_code',
        'law_cat_cd',
        'age_group',
        'perp_sex',
        'perp_race',
        'latitude',
        'longitude',
        'arrest_boro',
        'arrest_precinct',
        'jurisdiction_code',
        ':@computed_region_f5dn_yrer',
        ':@computed_region_yeji_bk3q',
        ':@computed_region_92fq_4b7q',
        ':@computed_region_sbqj_enih']

In [106]:
final = final[cols]

In [110]:
# one last thing I almost forgot, checking/dropping dupes

final = final.drop_duplicates()

In [112]:
# Now we can finally upload our clean data and get started on EDA

final.to_sql('crimeTable', engine, if_exists='replace', index=False)

In [4]:
lawCodes = pd.read_csv("missingLaws.csv",encoding = "ISO-8859-1")

def batchProcess(df, lawCodes):
    df = df.reset_index()
    del df['index']
    df = df[df['latitude'].notna()]
    df = df[df['longitude'].notna()]
    df = df[df['age_group'].notna()]
    del df['x_coord_cd']
    del df['y_coord_cd']
    del df[':@computed_region_efsh_h5xi']
    df = df[df['arrest_boro'].notna()]
    df = df[df['jurisdiction_code'].notna()]
    del df['pd_cd']
    del df['ky_cd']
    df = df[df['law_code'].notna()]
    result = pd.concat([df[df['ofns_desc'].isna()]["law_code"], df[df['ofns_desc'].isna()]["arrest_key"]], axis=1)
    for index, row in lawCodes.iterrows():
        df.loc[(df.law_code == row["law_code"]),'ofns_desc']=row["general crime"]
        df.loc[(df.law_code == row["law_code"]),'pd_desc']=row["specific crime"]
    df = df[df['pd_desc'].notna()]
    df = df[df['ofns_desc'].notna()]
    arrDates = df['arrest_date'].str.slice_replace(10, 23, '')
    final = df
    del final["arrest_date"]
    final = pd.concat([final, arrDates], axis=1)
    del final["level_0"]
    cols = ['arrest_key',
            'arrest_date',
            'pd_desc',
            'ofns_desc',
            'law_code',
            'law_cat_cd',
            'age_group',
            'perp_sex',
            'perp_race',
            'latitude',
            'longitude',
            'arrest_boro',
            'arrest_precinct',
            'jurisdiction_code',
            ':@computed_region_f5dn_yrer',
            ':@computed_region_yeji_bk3q',
            ':@computed_region_92fq_4b7q',
            ':@computed_region_sbqj_enih']
    final = final[cols]
    final = final.drop_duplicates()
    final.to_sql('crimeTableSegmented', engine, if_exists='append', index=False)

In [8]:
maindf[4000:8000]

,index,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,...,perp_race,x_coord_cd,y_coord_cd,latitude,longitude,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih
4000,0,193078640,2019-02-02T00:00:00.000,922.0,"TRAFFIC,UNCLASSIFIED MISDEMEAN",348.0,VEHICLE AND TRAFFIC LAWS,VTL05110A4,M,Q,...,ASIAN / PACIFIC ISLANDER,1034704.0,201410.0,40.719365,-73.817988,14509.0,25.0,3.0,24.0,65.0
4001,1,192578182,2019-01-21T00:00:00.000,114.0,OBSTR BREATH/CIRCUL,344.0,ASSAULT 3 & RELATED OFFENSES,PL 121110A,M,B,...,WHITE HISPANIC,1020649.0,254200.0,40.864328,-73.868406,11605.0,59.0,5.0,22.0,32.0
4002,2,194277979,2019-03-05T00:00:00.000,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200000,M,B,...,BLACK HISPANIC,1019141.0,259102.0,40.877789,-73.873832,11605.0,24.0,5.0,40.0,34.0
4003,3,195134213,2019-03-25T00:00:00.000,203.0,"TRESPASS 3, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 140100A,M,K,...,ASIAN / PACIFIC ISLANDER,998150.0,154850.0,40.591701,-73.949953,13826.0,32.0,2.0,15.0,36.0
4004,4,193722020,2019-02-18T00:00:00.000,750.0,RESISTING ARREST,359.0,OFFENSES AGAINST PUBLIC ADMINI,PL 2053000,M,Q,...,BLACK,1039811.0,192297.0,40.694321,-73.799640,24668.0,41.0,3.0,46.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,995,193115194,2019-02-03T00:00:00.000,969.0,"TRAFFIC,UNCLASSIFIED INFRACTIO",881.0,OTHER TRAFFIC INFRACTION,VTL051101A,M,Q,...,BLACK HISPANIC,1029166.0,151271.0,40.581774,-73.838301,20532.0,51.0,3.0,41.0,58.0
7996,996,198692066,2019-06-19T00:00:00.000,511.0,"CONTROLLED SUBSTANCE, POSSESSI",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,...,WHITE HISPANIC,996424.0,210017.0,40.743125,-73.956068,16858.0,53.0,3.0,33.0,66.0
7997,997,192792423,2019-01-26T00:00:00.000,782.0,"WEAPONS, POSSESSION, ETC",236.0,DANGEROUS WEAPONS,PL 2650101,M,B,...,BLACK,1022144.0,263350.0,40.889436,-73.862949,11275.0,29.0,5.0,2.0,30.0
7998,998,201814849,2019-08-31T00:00:00.000,707.0,"IMPERSONATION 2, PUBLIC SERVAN",340.0,FRAUDS,PL 1902300,M,Q,...,BLACK,1041879.0,197084.0,40.707447,-73.792142,24340.0,41.0,3.0,6.0,61.0
7999,999,203793380,2019-10-16T00:00:00.000,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,M,...,BLACK,986691.0,209691.0,40.742238,-73.991193,12073.0,11.0,4.0,10.0,7.0

In [ ]:
# for some reason the code messes up column wise with large operations, so chunking the code fixes that issue
a = 0
b = 4000
for i in range(1253):
    percent = float(i) / float(1253) * 100
    print("progress: " + str(percent) + "%")
    batchProcess(maindf[a:b], lawCodes)
    a = a+4000
    b = b+4000

In [10]:
# do a final drop duplicates across the entire dataset, and reupload to crimeTable
segmented = pd.read_sql('SELECT * FROM crimeTableSegmented', con=engine)
segmented = segmented.drop_duplicates()

segmented.to_sql('crimeTable', engine, if_exists='replace', index=False)